body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.testimonialsforlargedevices {
  display: none;
}



/*-- ---------                ----------------
  //////     mobile first layout global styles start    ////////////--*/


  /*-- ---------                ----------------
    //////    header  styles start    ////////////--*/
header {
  background-color: #FFCD02;
}
header a{
  text-decoration:none;
}
header h1 {
  display: inline-block;
  padding-left: 5%;
  color: white;
  font-style: italic;
}

    /*-- ---------                ----------------
      //////    header  styles end    ////////////--*/

      /*-- ---------                ----------------
        //////    hero  styles start    ////////////--*/

.hero {
  width: 100%;
  height: 400px;
  background-image: url(../images/heroimg.jpg);
  background-size: 100% 500px;
  position: relative;
}
.heroarea {
  padding-left: 5%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top:340px;


}
.heroheading h2 {
  margin: 0;
  color: white;
  font-style: italic;
  padding-bottom: 5px;
  padding-top: 5px;



}
.heroparagraph p {
  color:white;
  padding-top: 10px;
  font-style: italic;
  font-size: 18px;


}


        /*-- ---------                ----------------
          //////    hero  styles end    ////////////--*/

          /*-- ---------                ----------------
            //////    formarea  styles start   ////////////--*/

.formarea {
  background-color: #122222;
  padding-top: 150px;
  padding-left: 5%;
  padding-right: 5%;

}
.mainareaform {
  background-color: white;
  width: 280px;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 5px;
}
 .formheader {
   font-size: 10px;
   text-align: center;
 }
 .formbody {
   text-align: center;
   font-style: italic;
 }
.actualform{
display: flex;
justify-content: center;
padding: 20px  50px;
background-color: black;
border: 5px solid #FFCD02;

color: white;
}
.form {
}
label {
  font-weight: bold;
}
input {
  border: 3px solid #FFCD02;

}
input[value="Contact us today"] {
  font-weight: bold;
  border: 3px solid white;
  background-color: #2b78e4;
  padding: 5px;
  color: white;
  width: 180px;
  font-size: 17px;
  margin-top: 10px;

}

.formasidetext {

  color: white;
}
.formasidetext h2 {
  text-align: center;
  font-style: italic;
}
.formasidetext p {
  font-style: oblique;
}
/*-- ---------                ----------------
  //////    formarea  styles end  ////////////--*/

  /*-- ---------                ----------------
    //////    features styles start  ////////////--*/
.featureswrapper {
  background-color:  #FFFF00;
  margin-top: -16px;
  padding: 60px 0 60px 0px;

}
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  margin-left: -100px;




}
.features h3 {
  font-size: 16px;

}
 .bstrategy , .brandconsulting {
   display: flex;
   width: 205px;
   background-color: black;
   justify-content: space-between;

   padding-left: 5px;
   height: 83.438px;
 }
 .iconwrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   height:60px;
   width: 60px;
   border: 3px solid  #FFFF00;
   margin-top: 9px;
 }

 .communicationplanning, .productions {
   display: flex;
   width: 230px;
   background-color: black;
   justify-content: space-between;
   padding: 5px;
   height: 83.438px;
   margin-left: 65px;

 }

 .mediaplanningbuying , .designexecuting {
   display: flex;
   width: 250px;
   background-color: black;
   justify-content: space-between;
   padding: 5px;
   height: 83.438px;
   margin-left: 120px;
 }




    /*-- ---------                ----------------
      //////    features styles end  ////////////--*/



    /*-- ---------                ----------------
    //////     testimonials styles start  ////////////--*/

.testimonialswrapper {
  background-color: #000000;
  display: flex;
  justify-content: center;

}
.testimonialsforsmalldevices {

    color: white;
    text-align: center;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;


}
.testimonialsforsmalldevices img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid white;
  padding: 12px;
  transition: transform 3s;

}
.testimonialsforsmalldevices img:hover {
  transform: rotate(360deg) ;
}


.testimonialsforsmalldevices hr {
  width: 60%;
}
.testimonialsforsmalldevices h3 , .testimonialsforsmalldevices h2{
  margin: 0;
  padding-top: 5px;
}
.testimonialsforsmalldevices p {
  font-style: italic;
  padding-bottom: 40px;
}


.testimonialsforlargedevices {
  display: none;
  grid-template-columns: 150px 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  color: white;
  padding: 100px 0 100px 0;

}

.aboutpeople {
  grid-column: 2/5;
  grid-row: 1/2;
  text-align: center;
}

.people {

  grid-column: 1/6;
  grid-row: 2/3;
}
.testimonialsforlargedevices p {
  margin: 0;

}
.peoplenames {
  grid-column: 3/4;
  grid-row: 3/4;
  font-size: 10px;
  text-align: center;
  padding-top: 12px;
}
.peoplenames h3 {
  margin-top: -10px;
}

.flexing {
  display: flex;
  justify-content: center;
}

.flexing img {
  width: 60px;
  border: 4px solid white;
  border-radius: 50%;

}
 .ceo img {
   width: 90px;

 }
 .ceo{
   margin-top: 20px;
 }

.flexing >* {
  padding: 40px;
}
.sana , .assistentmanager {
  padding-left: 60px;
}

.accountmanager , .cmanager {
  padding-right: 60px;
}





    /*-- ---------                ----------------
    //////     testimonials styles end  ////////////--*/

    /*-- ---------                ----------------
    //////     clients styles start ////////////--*/
.clients {
  background-color: #FCE37C;
  margin-top: -15px;
  display: flex;
  justify-content: center;
}
.clientslogos {
  display: grid;
  grid-template-columns: 85px 85px 85px;
  grid-template-rows: repeat(5,1fr);
  grid-gap:5px;
}
.clientslogos > *{
  display: inline-block;
    border:4px solid black;
    width: 80px;
    height: 80px;
}
.clientslogos img {
  width: 80px;
  height: 80px;

}
.logo13 {
  grid-column: 1/3;
  grid-row: 5/6;
  margin-left: 42px;
}
.logo14 {
 grid-column: 2/4;
 grid-row: 5/6;
 margin-left: 45px;
}




    /*-- ---------                ----------------
    //////     clients styles end  ////////////--*/

footer {
  display: flex;
  background-color: #ffcd02;
  height: 80px;
    padding-right: 5%;
  justify-content: flex-end;
  align-items: center;
}
footer a {
  text-decoration: none;

}
footer h2 {
  margin: 0;
  font-size: 2em;
  color: white;
  font-style: italic;
}



/*-- ---------                ----------------
  //////     mobile first layout global styles end    ////////////--*/


  /*-- ---------                ----------------
    //////      styles for large devices start   ////////////--*/

@media  screen and (min-width:1024px) {
  .hero {
    height: 600px;
    background-size: 100% 600px;
  }
  .heroarea {
    position:relative;
    top:20px;
    left: 10px;
    width: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 30px;
    background-color: white;
    opacity: 0.7;
  }
  .heroheading h2{

    color: black;
    font-size: 50px;

  }
  .heroparagraph p {
    color: black;
    font-size: 30px;
  }



.formarea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
 .mainareaform {

 }

.formasidetext {
  width: 40%;
}
.formasidetext h2 {
  font-size: 40px;
}
.formasidetext p {
  font-size: 20px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "brand communi media" "design prod consult";
  margin: 0;
  grid-gap: 13% 13%;

}
.featureswrapper {
  display: flex;
  justify-content: center;
  height: 400px;
}
 .features >* {
   width: 230px;
   height: 84px;
   margin: 0;
   padding: 5px;
 }
 .testimonialsforsmalldevices {
   display: none;
 }
.testimonialsforlargedevices {
  display: grid;
}

.clients {
  padding-top: 90px;
  padding-bottom: 90px;
}

.clientslogos {
  grid-template-columns: repeat(9, 80px);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "janu1 . janu2 . janu3 . janu4 . janu5"
  ". janu6 . janu7 . janu8 . janu9 ."
  "janu10 . janu11 . janu12 . janu13 . janu14";

}
.logo1 {
  grid-area: janu1;
}
.logo2 {
  grid-area: janu2;
}
.logo3 {
  grid-area: janu3;
}
.logo4 {
  grid-area: janu4;
}
.logo5 {
  grid-area: janu5;
}
.logo6 {
  grid-area: janu6;
}
.logo7 {
  grid-area: janu7;
}
.logo8 {
  grid-area: janu8;
}
.logo9 {
  grid-area: janu9;
}

.logo10 {
  grid-area: janu10;
}
.logo11 {
  grid-area: janu11;
}.logo12 {
  grid-area: janu12;
}
.logo13 {
  grid-area: janu13;
}
.logo14 {
  grid-area: janu14;
  margin-left: 0;
}

}


#textoo {

  width: 169px!important;
  padding: 0 ;
  height: 95px!important;
  margin: 0 !important;
  border: 3px solid #ffcd02;
  padding: 1px  2px!important;
}

      /*-- ---------                ----------------
        //////      styles for large devices end   ////////////--*/
